body {
    height: 100%;
    width: 100%;
    background-color: var(--menu-bkgcolor);
    color: var(--main-text-color);
    font-family: 'MedievalSharp';
    display: flex;
    flex-direction: column;
    align-items: center;
}